.tablaTurnos{
    background-color: #f977bcd0;
    color: grey;
    font-size: x-large;
    border: none;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tbodyTurnos{
    border-bottom: 2px solid rgb(190, 64, 131);
    color: #412d38;
}

.tbodyTurnos:hover{
    transition: 0.3s;
    background-color: #f977bc;
}

.trTurnos{
    background-color: rgb(190, 64, 131);
    color: #30031b;
}

.bodyEditarTurno{
  background-color: #30031b;
  color:#f977bc
}

@media (max-width: 767px) {

    .tablaTurnos th {
      font-size: medium;
    }
  
    .tablaTurnos th, .tablaTurnos td {
      text-align: center;
    }
  
    .tablaTurnos tbody {
      display: block;
    }
  
    .tablaTurnos tr {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .tablaTurnos td {
      width: 100%;
      box-sizing: border-box;
    }
  }