

.contenedorPagError{
    background-image: url("../../img/fondoError.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    border: 1px solid rgb(239, 160, 190);
}

.contenedorTextoError{
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
}

.textoError{
    background-color: #30031b;
    /* border: 2px solid red; */
    color: rgb(216, 103, 163);
    font-size: 80px;
    text-align: center;
    width: 100%;
    border-radius: 50px;
}

.texto404{
    /* border: 2px solid green; */
    /* background-color: #30031b; */
    color: #30031b;
    font-size: 300px;
    text-align: center;
    width: 100%;
    margin-top: -60px;
}

.linkError{
    color: #30031b;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: -40px;
    text-decoration:overline;
}

.linkError:hover{
    font-size: 35px;
    transition: 0.5s;

}