
.contenedorPagError {
  background-image: url("../../img/fondoError.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  border: 1px solid rgb(239, 160, 190);
}

.contenedorTextoError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.textoError {
  background-color: #30031b;
  color: rgb(216, 103, 163);
  font-size: 12vh;
  text-align: center;
  width: 80%;
  border-radius: 50px;
  margin-bottom: 1rem;
}

.texto404 {
  color: #30031b;
  font-size: 50vh;
  text-align: center;
  margin-top: -5%;
}

.linkError {
  color: #30031b;
  font-size: 5vh;
  text-decoration: overline;
  margin-top: -3%;
}

.linkError:hover {
  transition: 0.5s;
  font-size: 6vh;
}

@media (min-width: 340px) and (max-width: 1000px) {
    .contenedorPagError{
        background-position: 50%;
    }

    .contenedorTextoError {
        margin-top: 40%;
    }

    .texto404{
        font-size: 30vh;
    }
}

@media (min-height: 805px) and (max-height: 915px){

    .texto404{
        font-size: 28vh;
    }
}